<StackLayout>
  <Label text="WishListComponent works" textWrap="true"></Label>
  <Label text="This is a migrated component" textWrap="true"></Label>
  <Label text="Update it to provide the UI elements required in your mobile app" textWrap="true"></Label>
</StackLayout>

<!--
Original Web template:

<div *ngIf="!isEmpty">
  <div class="partition"></div>
  <h2 class="inline pr-3">Saved for Later</h2>
  <div class="inline">
        {{order?.productQuantity}} Product<span *ngIf="order?.productQuantity != 1">s</span>
    </div>

    <div class="row pt-3">
        <div class="col-12">
            <ul class="list-no-bullets">
                <li *ngFor="let product of cartProducts">
                    <app-cart-item [cartItem]="product" [cartType]="cartType"></app-cart-item>
                </li>
            </ul>
        </div>
    </div>
</div>


-->